<template>
  <div>
    <page-title :heading=heading :subheading=subheading :icon=icon></page-title>
    <b-card title="가격 정책 관리" class="main-card mb-4">
      <table class="table table-bordered mt-4 text-center">
        <thead class="thead-light">
        <tr>
          <th width="10%">기간</th>
          <th width="15%">영업가 할인률</th>
          <th width="20%">영업가 할인액</th>
          <th width="15%">프로모션가 할인률</th>
          <th width="20%">프로모션가 할인액</th>
          <th width="20%">비고</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in items" :key="index">
          <td>{{item.term}}</td>
          <td>
            <span v-if="editIndex !== index">{{ item.salesDiscountRate }}</span>
            <span v-if="editIndex === index">
              <input class="form-control form-control-sm text-center" v-model="item.salesDiscountRate">
            </span>
          </td>
          <td>
            <span v-if="editIndex !== index">{{ item.salesDiscountAmount }}</span>
            <span v-if="editIndex === index">
              <input class="form-control form-control-sm text-center" v-model="item.salesDiscountAmount">
            </span>
          </td>
          <td>
            <span v-if="editIndex !== index">{{ item.promotionDiscountRate }}</span>
            <span v-if="editIndex === index">
              <input class="form-control form-control-sm text-center" v-model="item.promotionDiscountRate">
            </span>
          </td>
          <td>
            <span v-if="editIndex !== index">{{ item.promotionDiscountAmount }}</span>
            <span v-if="editIndex === index">
              <input class="form-control form-control-sm text-center" v-model="item.promotionDiscountAmount">
            </span>
          </td>
          <td>
            <span v-if="editIndex !== index">
              <button @click="edit(item, index)" class="btn btn-sm btn-info mr-2">수정</button>
            </span>
            <span v-else>
              <button class="btn btn-sm btn-danger mr-2" @click="cancel(item)">취소</button>
              <button class="btn btn-sm btn-success mr-2" @click="save(item)">저장</button>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </b-card>
  </div>
</template>

<script>
  import PageTitle from "../../../Layout/Components/NoneCreatePageTitle.vue";
  import Vue from 'vue'

  export default {
    components: {
      PageTitle
    },
    data: () => ({
      heading: '도메인 정책관리',
      subheading: '도메인 정책을 관리할 수 있는 페이지 입니다.',
      icon: 'pe-7s-global icon-gradient bg-mixed-hopes',
      editIndex: null,
      originalData: null,
      items: [
        {
          term: '1년',
          salesDiscountRate: '40%',
          salesDiscountAmount: '0',
          promotionDiscountRate: '32%',
          promotionDiscountAmount: '0'
        },
        {
          term: '2년',
          salesDiscountRate: '40%',
          salesDiscountAmount: '0',
          promotionDiscountRate: '17%',
          promotionDiscountAmount: '0'
        },
        {
          term: '3년',
          salesDiscountRate: '40%',
          salesDiscountAmount: '0',
          promotionDiscountRate: '14%',
          promotionDiscountAmount: '0'
        },
        {
          term: '4년',
          salesDiscountRate: '40%',
          salesDiscountAmount: '0',
          promotionDiscountRate: '14%',
          promotionDiscountAmount: '0'
        },
        {
          term: '5년',
          salesDiscountRate: '40%',
          salesDiscountAmount: '0',
          promotionDiscountRate: '12%',
          promotionDiscountAmount: '0'
        },
        {
          term: '6년',
          salesDiscountRate: '40%',
          salesDiscountAmount: '0',
          promotionDiscountRate: '12%',
          promotionDiscountAmount: '0'
        },
        {
          term: '7년',
          salesDiscountRate: '40%',
          salesDiscountAmount: '0',
          promotionDiscountRate: '12%',
          promotionDiscountAmount: '0'
        },
        {
          term: '8년',
          salesDiscountRate: '40%',
          salesDiscountAmount: '0',
          promotionDiscountRate: '12%',
          promotionDiscountAmount: '0'
        },
        {
          term: '9년',
          salesDiscountRate: '40%',
          salesDiscountAmount: '0',
          promotionDiscountRate: '12%',
          promotionDiscountAmount: '0'
        },
        {
          term: '10년',
          salesDiscountRate: '40%',
          salesDiscountAmount: '0',
          promotionDiscountRate: '10%',
          promotionDiscountAmount: '0'
        }
      ]
    }),
    filters: {

    },

    methods: {

      edit(item, index) {
        this.originalData = Object.assign({}, item)
        this.editIndex = index
      },

      cancel(item) {
        this.editIndex = null

        if (!this.originalData) {
          this.items.splice(this.items.indexOf(item), 1)
          return
        }

        Object.assign(item, this.originalData)
        this.originalData = null
      },

      save(item) {
        this.originalData = null
        this.editIndex = null
      }
    },

    computed: {

    },

  }
</script>

<style>
  input[type="number"] {
    text-align: right;
  }
</style>