<template>
  <div>
    <page-title :heading=heading :subheading=subheading :icon=icon></page-title>
    <b-card title="도메인 상품 목록" class="main-card mb-4">
      <b-row>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="페이지 당" class="mb-0 text-right">
            <b-form-select :options="pageOptions" v-model="perPage"/>
          </b-form-group>
        </b-col>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="검색" class="mb-0 text-right">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="검색하려면 입력하십시오."/>
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">검색어 삭제</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>

      <!-- Main table element -->
      <b-table show-empty
               stacked="md"
               :items="items"
               :fields="fields"
               :current-page="currentPage"
               :per-page="perPage"
               :filter="filter"
               :sort-by.sync="sortBy"
               :sort-desc.sync="sortDesc"
               :sort-direction="sortDirection"
               class="mt-3 table-bordered"
               @filtered="onFiltered"
      >
        <template slot="promotion" slot-scope="row">
          <toggle-button :value="row.item.promotion"
                         name="locking"
                         :labels="{checked: '프로모션', unchecked: '정상가'}"
                         :color="{checked: '#7DCE94', unchecked: '#82C7EB'}"
                         :width="80"
                         class="m-0"
                         :height="29"/>

        </template>
        <template slot="actions" slot-scope="row">
          <b-btn variant="info" size="sm" @click.stop="row.toggleDetails">
            상세 {{ row.detailsShowing ? '감추기' : '보기' }}
          </b-btn>
        </template>
        <template slot="row-details" slot-scope="row">
          <b-card class="mb-3 nav-justified no-shadow" no-body>
            <b-tabs class="card-header-tab-animation" pills card>
              <b-tab title="기본 정보" active style="min-height: 506px;">
                <form class="">
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">설명</label>
                    <div class="col-sm-10"><span class="col-content">{{row.item.actions.explanation}}</span>
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">등록 가격</label>
                    <div class="col-sm-10"><span
                      class="col-content">{{row.item.actions.price}}</span></div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">등록 가능 기간</label>
                    <div class="col-sm-10"><span
                      class="col-content">{{row.item.actions.term}}</span></div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">신청자격</label>
                    <div class="col-sm-4"><span class="col-content">{{row.item.actions.qualification}}</span>
                    </div>
                    <label class="col-sm-2 col-form-label text-right font-weight-bold">신청등록증</label>
                    <div class="col-sm-4"><span
                      class="col-content">{{row.item.actions.certificate}}</span></div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">소유권 이전</label>
                    <div class="col-sm-4"><span class="col-content">{{row.item.actions.owner_transfer}}</span>
                    </div>
                    <label class="col-sm-2 col-form-label text-right font-weight-bold">기관 이전</label>
                    <div class="col-sm-4"><span class="col-content">{{row.item.actions.agency_transfer}}</span>
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">레지스트리 정책</label>
                    <div class="col-sm-4"><span class="col-content"><a
                      href="row.item.actions.registry_policy">바로가기</a></span></div>
                    <label class="col-sm-2 col-form-label text-right font-weight-bold">관리 기관</label>
                    <div class="col-sm-4"><span
                      class="col-content">{{row.item.actions.management}}</span></div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">문자 규칙</label>
                    <div class="col-sm-10"><span
                      class="col-content">{{row.item.actions.rule}}</span></div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">연장 정책</label>
                    <div class="col-sm-10"><span
                      class="col-content">{{row.item.actions.policy}}</span></div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">유의 사항</label>
                    <div class="col-sm-10"><span
                      class="col-content">{{row.item.actions.notice}}</span></div>
                  </div>
                </form>
              </b-tab>
              <b-tab title="가격 정보" style="min-height: 508px;">
                <table class="w-100 table b-table table-striped table-bordered text-center">
                  <thead>
                  <tr>
                    <th width="10%">기간</th>
                    <th width="30%">정상가격</th>
                    <th width="30%">vip(영업)가격</th>
                    <th width="30%">프로모션가격</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1년</td>
                    <td>20,000 원</td>
                    <td>12,000 원 (-40%)</td>
                    <td>13,500 원 (-32%)</td>
                  </tr>
                  <tr>
                    <td>2년</td>
                    <td>40,000 원</td>
                    <td>24,000 원 (-40%)</td>
                    <td>33,000 원 (-17%)</td>
                  </tr>
                  <tr>
                    <td>3년</td>
                    <td>60,000 원</td>
                    <td>36,000 원 (-40%)</td>
                    <td>51,500 원 (-14%)</td>
                  </tr>
                  <tr>
                    <td>4년</td>
                    <td>80,000 원</td>
                    <td>48,000 원 (-40%)</td>
                    <td>68,500 원 (-14%)</td>
                  </tr>
                  <tr>
                    <td>5년</td>
                    <td>100,000 원</td>
                    <td>60,000 원 (-40%)</td>
                    <td>87,500 원 (-12%)</td>
                  </tr>
                  <tr>
                    <td>6년</td>
                    <td>120,000 원</td>
                    <td>72,000 원 (-40%)</td>
                    <td>105,000 원 (-12%)</td>
                  </tr>
                  <tr>
                    <td>7년</td>
                    <td>140,000 원</td>
                    <td>84,000 원 (-40%)</td>
                    <td>122,500 원 (-12%)</td>
                  </tr>
                  <tr>
                    <td>8년</td>
                    <td>160,000 원</td>
                    <td>96,000 원 (-40%)</td>
                    <td>140,000 원 (-12%)</td>
                  </tr>
                  <tr>
                    <td>9년</td>
                    <td>180,000 원</td>
                    <td>108,000 원 (-40%)</td>
                    <td>157,500 원 (-12%)</td>
                  </tr>
                  <tr>
                    <td>10년</td>
                    <td>200,000 원</td>
                    <td>120,000 원 (-40%)</td>
                    <td>180,000 원 (-10%)</td>
                  </tr>
                  </tbody>
                </table>
              </b-tab>
            </b-tabs>
          </b-card>
        </template>
      </b-table>
      <b-row>
        <b-col md="6" class="my-1">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0"/>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<style>
  .b-table-has-details {
    background-color: aliceblue;
  }

  .b-table-details {
    background-color: aliceblue;
  }

  .text-center {
    vertical-align: middle !important;
  }

  .col-content {
    vertical-align: -webkit-baseline-middle;
  }

</style>
<script>

  import PageTitle from "../../../Layout/Components/NoneCreatePageTitle.vue";
  import {ToggleButton} from 'vue-js-toggle-button'

  const items = [
    {
      category: '국제도메인',
      division: '주요도메인(gTLD)',
      section: '공통',
      domain: '.com',
      price: '22,000원',
      promotion: true,
      actions: {
        explanation: '일반 상업 목적',
        rule: '3~63자의 영문, 숫자, 하이픈[-] 조합으로 사용 가능. 단, 하이픈은 시작이나 끝에 사용 불가',
        price: '20,000원 / 1년 (vat 별도)',
        term: '1~10년',
        qualification: '제한 없음',
        policy: '만기일 38일 후까지 연장 가능. 만기일 68일 이후까지 삭제 복구 가능',
        owner_transfer: '가능',
        agency_transfer: '가능 (Auth-code 필요)',
        registry_policy: 'http://archive.icann.org/en/udrp/udrp-rules-24oct99.htm',
        management: '후이즈(WHOIS)',
        certificate: '제한 없음',
        notice: '한글 지원 : .com, .net, .org, .biz, .info, .name, .tel, .asia만 가능하며, 한글이 포함된 경우 1~17자만 가능합니다.'
      }
    },
    {
      category: '국제도메인',
      division: '주요도메인(gTLD)',
      section: '네트워크',
      domain: '.net',
      price: '22,000원',
      promotion: false,
      actions: {
        explanation: '네트워크 사업자 또는 네트워크',
        rule: '3~63자의 영문, 숫자, 하이픈[-] 조합으로 사용 가능. 단, 하이픈은 시작이나 끝에 사용 불가',
        price: '20,000원 / 1년 (vat 별도)',
        term: '1~10년',
        qualification: '제한 없음',
        policy: '만기일 38일 후까지 연장 가능. 만기일 68일 이후까지 삭제 복구 가능',
        owner_transfer: '가능',
        agency_transfer: '가능 (Auth-code 필요)',
        registry_policy: 'http://archive.icann.org/en/udrp/udrp-rules-24oct99.htm',
        management: '후이즈(WHOIS)',
        certificate: '제한 없음',
        notice: '한글 지원 : .com, .net, .org, .biz, .info, .name, .tel, .asia만 가능하며, 한글이 포함된 경우 1~17자만 가능합니다.'
      }
    },
    {
      category: '국제도메인',
      division: '주요도메인(gTLD)',
      section: '기관',
      domain: '.org',
      price: '22,000원',
      promotion: false,
      actions: {
        explanation: '네트워크 사업자 또는 네트워크',
        rule: '3~63자의 영문, 숫자, 하이픈[-] 조합으로 사용 가능. 단, 하이픈은 시작이나 끝에 사용 불가',
        price: '20,000원 / 1년 (vat 별도)',
        term: '1~10년',
        qualification: '제한 없음',
        policy: '만기일 38일 후까지 연장 가능. 만기일 68일 이후까지 삭제 복구 가능',
        owner_transfer: '가능',
        agency_transfer: '가능 (Auth-code 필요)',
        registry_policy: 'http://archive.icann.org/en/udrp/udrp-rules-24oct99.htm',
        management: '후이즈(WHOIS)',
        certificate: '제한 없음',
        notice: '한글 지원 : .com, .net, .org, .biz, .info, .name, .tel, .asia만 가능하며, 한글이 포함된 경우 1~17자만 가능합니다.'
      }
    },
    {
      category: '국내도메인',
      division: 'KR, 한국',
      section: '공통',
      domain: '.kr',
      price: '22,000원',
      promotion: false,
      actions: {
        explanation: '대한민국',
        rule: '2단계 KR(.kr) : 3~63자의 영문, 숫자, 하이픈[-] 또는 2~17자의 영문, 한글, 숫자, 하이픈 조합. 단, 하이픈은 시작이나 끝에 사용할 수 없으며, 숫자와 하이픈만으로는 구성 불가.\n3단계 KR(.co.kr 등) : 2~63자의 영문, 숫자, 하이픈[-] 조합으로 사용 가능. 단, 하이픈은 시작이나 끝에 사용 불가.\n한국 : 1~17자의 한글, 영문, 숫자, 하이픈[-] 조합. 한글 1자 이상 포함 필수',
        price: '20,000원 / 1년 (vat 별도)',
        term: '1~10년',
        qualification: '제한 없음',
        policy: '만기일 +30일까지 연장 가능 (만기일 다음날 부터 사용정지)',
        owner_transfer: '가능',
        agency_transfer: '가능 (Auth-code 필요)',
        registry_policy: 'https://krnic.or.kr/jsp/infoboard/law/domBylawsReg.jsp',
        management: '한국인터넷진흥원(KISA)',
        certificate: '제한 없음',
        notice: '인터넷 익스플로러 6.0 이하 버전에서 한글 도메인을 사용하려면 별도 플러그인을 설치해야 합니다.\n한국인터넷진흥원에서 지정한 ‘예약어’의 경우 지정한 도메인으로 국가 기관 및 행정 구역, 교육 기관 등의 단체만 등록 가능하도록 규정되어 있는 도메인입니다. 등록 신청을 하여도 해당 기관이 아닌 경우 등록이 불가능하거나, 등록이 완료되어도 삭제될 수 있으니 반드시 해당 기관만 등록을 진행해 주시기 바랍니다.\n도메인 이름의 안정적 관리와 공공의 이익을 위해 지정된 ‘유보어’의 경우 등록하실 수 없습니다.'
      }
    },
    {
      category: '국내도메인',
      division: 'KR, 한국',
      section: '교육',
      domain: '.ac.kr',
      price: '22,000원',
      promotion: false,
      actions: {
        explanation: 'Academy [전문대학, 대학, 대학원]',
        rule: '2단계 KR(.kr) : 3~63자의 영문, 숫자, 하이픈[-] 또는 2~17자의 영문, 한글, 숫자, 하이픈 조합. 단, 하이픈은 시작이나 끝에 사용할 수 없으며, 숫자와 하이픈만으로는 구성 불가.\n3단계 KR(.co.kr 등) : 2~63자의 영문, 숫자, 하이픈[-] 조합으로 사용 가능. 단, 하이픈은 시작이나 끝에 사용 불가.\n한국 : 1~17자의 한글, 영문, 숫자, 하이픈[-] 조합. 한글 1자 이상 포함 필수',
        price: '20,000원 / 1년 (vat 별도)',
        term: '1~10년',
        qualification: '전문대학, 대학, 대학원 등록자격 검토 후 필요 서류 팩스로 접수',
        policy: '만기일 +30일까지 연장 가능 (만기일 다음날 부터 사용정지)',
        owner_transfer: '가능',
        agency_transfer: '가능 (Auth-code 필요)',
        registry_policy: 'https://krnic.or.kr/jsp/infoboard/law/domBylawsReg.jsp',
        management: '한국인터넷진흥원(KISA)',
        certificate: '사업자 등록증, 고유번호증, 법인등록증, 학교인가증',
        notice: '인터넷 익스플로러 6.0 이하 버전에서 한글 도메인을 사용하려면 별도 플러그인을 설치해야 합니다.\n한국인터넷진흥원에서 지정한 ‘예약어’의 경우 지정한 도메인으로 국가 기관 및 행정 구역, 교육 기관 등의 단체만 등록 가능하도록 규정되어 있는 도메인입니다. 등록 신청을 하여도 해당 기관이 아닌 경우 등록이 불가능하거나, 등록이 완료되어도 삭제될 수 있으니 반드시 해당 기관만 등록을 진행해 주시기 바랍니다.\n도메인 이름의 안정적 관리와 공공의 이익을 위해 지정된 ‘유보어’의 경우 등록하실 수 없습니다.'
      }
    }
  ]

  export default {
    components: {
      PageTitle,
      ToggleButton
    },
    data: () => ({
      heading: '도메인 상품관리',
      subheading: '도메인 상품을 관리할 수 있는 페이지 입니다.',
      icon: 'pe-7s-global icon-gradient bg-mixed-hopes',

      items: items,
      fields: [
        {key: 'category', label: '대분류', sortable: true, 'class': 'text-center'},
        {key: 'division', label: '중분류', sortable: true, 'class': 'text-center'},
        {key: 'section', label: '소분류', sortable: true, 'class': 'text-center'},
        {key: 'domain', label: '도메인', sortable: true, 'class': 'text-center'},
        {key: 'price', label: '가격', sortable: true, 'class': 'text-center'},
        {key: 'promotion', label: '프로모션', sortable: false, 'class': 'text-center'},
        {key: 'actions', label: '비고', sortable: false, 'class': 'text-center'}
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: items.length,
      pageOptions: [5, 10, 15],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      modalInfo: {title: '', content: ''}
    }),

    computed: {
      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    methods: {
      info(item, index, button) {
        this.modalInfo.title = `Row index: ${index}`
        this.modalInfo.content = JSON.stringify(item, null, 2)
        this.$root.$emit('bv::show::modal', 'modalInfo', button)
      },
      resetModal() {
        this.modalInfo.title = ''
        this.modalInfo.content = ''
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    }
  }
</script>
