<template>
  <div>
    <page-title :heading=heading :subheading=subheading :icon=icon></page-title>
    <b-card title="도메인 주문 목록" class="main-card mb-4">
      <b-row>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="페이지 당" class="mb-0 text-right">
            <b-form-select :options="pageOptions" v-model="perPage"/>
          </b-form-group>
        </b-col>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="검색" class="mb-0 text-right">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="검색하려면 입력하십시오."/>
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">검색어 삭제</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>

      <!-- Main table element -->
      <b-table show-empty
               stacked="md"
               :items="items"
               :fields="fields"
               :current-page="currentPage"
               :per-page="perPage"
               :filter="filter"
               :sort-by.sync="sortBy"
               :sort-desc.sync="sortDesc"
               :sort-direction="sortDirection"
               class="mt-3 table-bordered"
               @filtered="onFiltered"
      >
        <template slot="payment_information" slot-scope="row">
          {{row.value.type}} / {{row.value.bank}} / {{row.value.depositor}}
        </template>
        <template slot="memo" slot-scope="row">
          <b-btn :id="'normal-'+row.value.normal_key" variant="alternate" class="mr-1">
            일반
          </b-btn>
          <b-tooltip :target="'normal-'+row.value.normal_key" placement="left"
                     :title="row.value.normal_content"></b-tooltip>
          <b-btn :id="'important-'+row.value.important_key" variant="danger">
            중요
          </b-btn>
          <b-tooltip :target="'important-'+row.value.important_key" placement="left"
                     :title="row.value.important_content"></b-tooltip>
        </template>
        <template slot="actions" slot-scope="row">
          <b-btn variant="info" size="sm" @click.stop="row.toggleDetails">
            상세 {{ row.detailsShowing ? '감추기' : '보기' }}
          </b-btn>
        </template>
        <template slot="row-details" slot-scope="row">
          <b-card class="mb-3 nav-justified no-shadow" no-body>
            <b-tabs class="card-header-tab-animation" pills card>
              <b-tab title="기본 정보" active style="min-height: 506px;">
                <div class="position-relative row form-group"><label
                  class="col-sm-2 col-form-label text-right font-weight-bold">도메인</label>
                  <div class="col-sm-4"><span class="col-content">{{row.item.actions.domain}}</span>
                  </div>
                  <label class="col-sm-2 col-form-label text-right font-weight-bold">잠금설정</label>
                  <div class="col-sm-4">
                    <toggle-button :value="row.item.actions.locking"
                                   name="locking"
                                   :labels="{checked: '잠금', unchecked: '잠금안함'}"
                                   :color="{checked: '#7DCE94', unchecked: '#82C7EB'}"
                                   :width="100"
                                   class="m-0"
                                   :height="35"/>
                  </div>
                </div>
                <div class="position-relative row form-group"><label
                  class="col-sm-2 col-form-label text-right font-weight-bold">등록일</label>
                  <div class="col-sm-4"><span class="col-content">{{row.item.actions.registration_date}}</span>
                  </div>
                  <label class="col-sm-2 col-form-label text-right font-weight-bold">만기일</label>
                  <div class="col-sm-4"><span
                    class="col-content">{{row.item.actions.expiration_date}}</span></div>
                </div>

                <div class="position-relative row form-group"><label
                  class="col-sm-2 col-form-label text-right font-weight-bold">도메인 인증 코드</label>
                  <div class="col-sm-10"><span class="col-content">{{row.item.actions.authentication_code}}<b-btn
                    variant="success" class="ml-3">인증코드 재설정</b-btn></span></div>
                </div>
                <div class="position-relative row form-group"><label
                  class="col-sm-2 col-form-label text-right font-weight-bold">등록기간</label>
                  <div class="col-sm-10"><span class="col-content">{{row.item.actions.registration_period}}</span>
                  </div>
                </div>
                <div class="position-relative mb-0 row form-group"><label
                  class="col-sm-2 col-form-label text-right font-weight-bold">신규 여부</label>
                  <div class="col-sm-10"><span class="col-content">{{row.item.actions.new}}</span>
                  </div>
                </div>
              </b-tab>
              <b-tab title="소유자 정보" style="min-height: 506px;">
                <form class="">
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">구분</label>
                    <div class="col-sm-4"><span
                      class="col-content">{{row.item.actions.division}}</span></div>
                    <label class="col-sm-2 col-form-label text-right font-weight-bold">공개여부</label>
                    <div class="col-sm-4">
                      <toggle-button :value="row.item.actions.open"
                                     name="locking"
                                     :labels="{checked: '공개', unchecked: '비공개'}"
                                     :color="{checked: '#7DCE94', unchecked: '#82C7EB'}"
                                     :width="100"
                                     class="m-0"
                                     :height="35"/>
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">기관 등록증 구분</label>
                    <div class="col-sm-4"><span class="col-content">{{row.item.actions.registration_certificate_division}}</span>
                    </div>
                    <label class="col-sm-2 col-form-label text-right font-weight-bold">기관 등록증
                      번호</label>
                    <div class="col-sm-4"><span
                      class="col-content">{{row.item.actions.registration_certificate_number}}</span>
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">개인 이름 [한글]</label>
                    <div class="col-sm-4"><span class="col-content">{{row.item.actions.kr_owner_name}}</span>
                    </div>
                    <label class="col-sm-2 col-form-label text-right font-weight-bold">개인 이름
                      [영문]</label>
                    <div class="col-sm-4"><span class="col-content">{{row.item.actions.en_owner_name}}</span>
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">기관 이름 [한글]</label>
                    <div class="col-sm-4"><span class="col-content">{{row.item.actions.kr_agency_name}}</span>
                    </div>
                    <label class="col-sm-2 col-form-label text-right font-weight-bold">기관 이름
                      [영문]</label>
                    <div class="col-sm-4"><span class="col-content">{{row.item.actions.en_agency_name}}</span>
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">이메일</label>
                    <div class="col-sm-4"><span
                      class="col-content">{{row.item.actions.owner_email}}</span></div>
                    <label class="col-sm-2 col-form-label text-right font-weight-bold">국가 코드</label>
                    <div class="col-sm-4"><span class="col-content">{{row.item.actions.country_code}}</span>
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">전화번호</label>
                    <div class="col-sm-4"><span
                      class="col-content">{{row.item.actions.owner_phone}}</span></div>
                    <label
                      class="col-sm-2 col-form-label text-right font-weight-bold">휴대전화번호</label>
                    <div class="col-sm-4"><span class="col-content">{{row.item.actions.owner_mobile}}</span>
                    </div>
                  </div>

                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">주소 [한글]</label>
                    <div class="col-sm-10"><span
                      class="col-content">{{row.item.actions.kr_address}}</span></div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">주소 [영문]</label>
                    <div class="col-sm-10"><span
                      class="col-content">{{row.item.actions.en_address}}</span></div>
                  </div>

                </form>
              </b-tab>
              <b-tab title="관리자 정보" style="min-height: 506px;">
                <form class="">
                  <div class="position-relative row form-group"><label for="manager_name"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">관리자
                    이름</label>
                    <div class="col-sm-10"><input name="manager_name" id="manager_name"
                                                  placeholder="" type="text" class="form-control"
                                                  :value="row.item.actions.manager_name"></div>
                  </div>
                  <div class="position-relative row form-group"><label for="manager_email"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">관리자
                    메일</label>
                    <div class="col-sm-10"><input name="manager_email" id="manager_email"
                                                  placeholder="" type="text" class="form-control"
                                                  :value="row.item.actions.manager_email"></div>
                  </div>
                  <div class="position-relative row form-group"><label for="manager_phone"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">전화번호</label>
                    <div class="col-sm-10"><input name="manager_phone" id="manager_phone"
                                                  placeholder="" type="text" class="form-control"
                                                  :value="row.item.actions.manager_phone"></div>
                  </div>
                  <div class="position-relative row form-group"><label for="manager_mobile"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">휴대전화번호</label>
                    <div class="col-sm-10"><input name="manager_mobile" id="manager_mobile"
                                                  placeholder="" type="text" class="form-control"
                                                  :value="row.item.actions.manager_mobile"></div>
                  </div>
                  <div class="position-relative row form-group"><label for="owner_trans_email_first"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">소유권
                    이전메일 1</label>
                    <div class="col-sm-10"><input name="owner_trans_email_first"
                                                  id="owner_trans_email_first" placeholder=""
                                                  type="text" class="form-control"
                                                  :value="row.item.actions.owner_trans_email_first">
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label for="owner_trans_email_second"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">소유권
                    이전메일 2</label>
                    <div class="col-sm-10"><input name="owner_trans_email_second"
                                                  id="owner_trans_email_second" placeholder=""
                                                  type="text" class="form-control"
                                                  :value="row.item.actions.owner_trans_email_second">
                    </div>
                  </div>
                  <div class="position-relative mb-0 row form-group"><label for="sms"
                                                                            class="col-sm-2 col-form-label text-right font-weight-bold">SMS
                    수신여부</label>
                    <div class="col-sm-10">
                      <toggle-button :value="row.item.actions.sms"
                                     name="sms"
                                     id="sms"
                                     :labels="{checked: '수신', unchecked: '수신안함'}"
                                     :color="{checked: '#7DCE94', unchecked: '#82C7EB'}"
                                     :width="100"
                                     class="m-0"
                                     :height="35"/>
                    </div>
                  </div>
                  <div class="d-block text-center">
                    <button class="btn-icon btn btn-success" onclick="alert('준비중 입니다.')"><i
                      class="pe-7s-diskette btn-icon-wrapper"> </i> 저장
                    </button>
                  </div>
                </form>
              </b-tab>
              <b-tab title="회원 정보" style="min-height: 506px;">
                <form class="">
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">아이디</label>
                    <div class="col-sm-10"><span class="col-content">{{row.item.actions.id}}</span>
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">이름</label>
                    <div class="col-sm-10"><span
                      class="col-content">{{row.item.actions.name}}</span></div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">메일</label>
                    <div class="col-sm-10"><span
                      class="col-content">{{row.item.actions.email}}</span></div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">전화번호</label>
                    <div class="col-sm-10"><span
                      class="col-content">{{row.item.actions.phone}}</span></div>
                  </div>
                  <div class="position-relative row form-group"><label
                    class="col-sm-2 col-form-label text-right font-weight-bold">휴대전화번호</label>
                    <div class="col-sm-10"><span
                      class="col-content">{{row.item.actions.mobile}}</span></div>
                  </div>
                </form>
              </b-tab>
              <b-tab title="네임서버 정보" style="min-height: 506px;">
                <form class="">
                  <div class="position-relative row form-group"><label for="name_server_domain_first"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">네임서버
                    도메인 1차</label>
                    <div class="col-sm-10"><input name="name_server_domain_first"
                                                  id="name_server_domain_first" placeholder=""
                                                  type="text" class="form-control"
                                                  :value="row.item.actions.name_server_domain_first">
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label for="name_server_ip_first"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">네임서버
                    IP 1차</label>
                    <div class="col-sm-10"><input name="name_server_ip_first"
                                                  id="name_server_ip_first" placeholder=""
                                                  type="text" class="form-control"
                                                  :value="row.item.actions.name_server_ip_first">
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label for="name_server_domain_second"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">네임서버
                    도메인 2차</label>
                    <div class="col-sm-10"><input name="name_server_domain_second"
                                                  id="name_server_domain_second" placeholder=""
                                                  type="text" class="form-control"
                                                  :value="row.item.actions.name_server_domain_second">
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label for="name_server_ip_second"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">네임서버
                    IP 2차</label>
                    <div class="col-sm-10"><input name="name_server_ip_second"
                                                  id="name_server_ip_second" placeholder=""
                                                  type="text" class="form-control"
                                                  :value="row.item.actions.name_server_ip_second">
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label for="name_server_domain_third"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">네임서버
                    도메인 3차</label>
                    <div class="col-sm-10"><input name="name_server_domain_third"
                                                  id="name_server_domain_third" placeholder=""
                                                  type="text" class="form-control"
                                                  :value="row.item.actions.name_server_domain_third">
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label for="name_server_ip_third"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">네임서버
                    IP 3차</label>
                    <div class="col-sm-10"><input name="name_server_ip_third"
                                                  id="name_server_ip_third" placeholder=""
                                                  type="text" class="form-control"
                                                  :value="row.item.actions.name_server_ip_third">
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label for="name_server_domain_fourth"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">네임서버
                    도메인 4차</label>
                    <div class="col-sm-10"><input name="name_server_domain_fourth"
                                                  id="name_server_domain_fourth" placeholder=""
                                                  type="text" class="form-control"
                                                  :value="row.item.actions.name_server_domain_fourth">
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label for="name_server_ip_fourth"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">네임서버
                    IP 4차</label>
                    <div class="col-sm-10"><input name="name_server_ip_fourth"
                                                  id="name_server_ip_fourth" placeholder=""
                                                  type="text" class="form-control"
                                                  :value="row.item.actions.name_server_ip_fourth">
                    </div>
                  </div>
                  <div class="d-block text-center">
                    <button class="btn-icon btn btn-success" onclick="alert('준비중 입니다.')"><i
                      class="pe-7s-diskette btn-icon-wrapper"> </i> 저장
                    </button>
                  </div>
                </form>
              </b-tab>
              <b-tab title="도메인 관리" style="min-height: 506px;">
                <form class="">
                  <div class="position-relative row form-group"><label for="normal_content"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">일반
                    메모</label>
                    <div class="col-sm-10">
                      <textarea-autosize name="normal_content" id="normal_content"
                                         class="form-control" :min-height="60" :max-height="200"
                                         :value="row.item.actions.normal_content"></textarea-autosize>
                    </div>
                  </div>
                  <div class="position-relative row form-group"><label for="important_content"
                                                                       class="col-sm-2 col-form-label text-right font-weight-bold">중요
                    메모</label>
                    <div class="col-sm-10">
                      <textarea-autosize name="important_content" id="important_content"
                                         class="form-control" :min-height="60" :max-height="200"
                                         :value="row.item.actions.important_content"></textarea-autosize>
                    </div>
                  </div>
                  <div class="d-block text-center">
                    <button class="mr-2 btn-icon btn btn-danger" onclick="alert('준비중 입니다.')"><i
                      class="pe-7s-credit btn-icon-wrapper"> </i> 환불
                    </button>
                    <button class="mr-2 btn-icon btn btn-primary" onclick="alert('준비중 입니다.')"><i
                      class="pe-7s-paper-plane btn-icon-wrapper"> </i> 이전
                    </button>
                    <button class="mr-2 btn-icon btn btn-primary" onclick="alert('준비중 입니다.')"><i
                      class="pe-7s-date btn-icon-wrapper"> </i> 연장
                    </button>
                    <button class="btn-icon btn btn-success" onclick="alert('준비중 입니다.')"><i
                      class="pe-7s-diskette btn-icon-wrapper"> </i> 저장
                    </button>
                  </div>
                </form>
              </b-tab>
            </b-tabs>
          </b-card>
        </template>
      </b-table>

      <b-row>
        <b-col md="6" class="my-1">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0"/>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<style>
  .b-table-has-details {
    background-color: aliceblue;
  }

  .b-table-details {
    background-color: aliceblue;
  }

  .text-center {
    vertical-align: middle !important;
  }

  .col-content {
    vertical-align: -webkit-baseline-middle;
  }
</style>
<script>

  import PageTitle from "../../../Layout/Components/NoneCreatePageTitle.vue";
  import Vue from 'vue'
  import VueTextareaAutosize from 'vue-textarea-autosize'
  import {ToggleButton} from 'vue-js-toggle-button'

  Vue.use(VueTextareaAutosize);

  const items = [
    {
      domain: 'blueweb.co.kr',
      applicant: '블루웹',
      service: '안전 잠금 신청',
      registration_date: '2019년04월30일'
    },
    {
      domain: 'blueweb.co.kr',
      applicant: '블루웹',
      service: '등록정보 숨김 설정',
      registration_date: '2019년04월30일'
    },
    {
      domain: 'blueweb.co.kr',
      applicant: '블루웹',
      service: '간편 연장 서비스',
      registration_date: '2019년04월30일'
    }
  ]

  export default {
    components: {
      PageTitle,
      ToggleButton
    },
    data: () => ({
      heading: '도메인 부가서비스 주문관리',
      subheading: '도메인 부가서비스 주문을 관리할 수 있는 페이지 입니다.',
      icon: 'pe-7s-plus icon-gradient bg-mixed-hopes',
      items: items,
      fields: [
        {key: 'domain', label: '도메인', sortable: true, 'class': 'text-center'},
        {key: 'applicant', label: '신청인', sortable: true, 'class': 'text-center'},
        {key: 'service', label: '서비스명', sortable: true, 'class': 'text-center'},
        {key: 'registration_date', label: '등록일', sortable: true, 'class': 'text-center'}
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: items.length,
      pageOptions: [5, 10, 15],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      modalInfo: {title: '', content: ''}
    }),

    computed: {
      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    methods: {
      info(item, index, button) {
        this.modalInfo.title = `Row index: ${index}`
        this.modalInfo.content = JSON.stringify(item, null, 2)
        this.$root.$emit('bv::show::modal', 'modalInfo', button)
      },
      resetModal() {
        this.modalInfo.title = ''
        this.modalInfo.content = ''
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    }
  }
</script>