<template>
  <div>
    <page-title :heading=heading :subheading=subheading :icon=icon></page-title>
    <b-card title="도메인 상품 목록" class="main-card mb-4">
      <b-row>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="페이지 당" class="mb-0 text-right">
            <b-form-select :options="pageOptions" v-model="perPage"/>
          </b-form-group>
        </b-col>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="검색" class="mb-0 text-right">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="검색하려면 입력하십시오."/>
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">검색어 삭제</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>

      <!-- Main table element -->
      <b-table show-empty
               stacked="md"
               :items="items"
               :fields="fields"
               :current-page="currentPage"
               :per-page="perPage"
               :filter="filter"
               :sort-by.sync="sortBy"
               :sort-desc.sync="sortDesc"
               :sort-direction="sortDirection"
               class="mt-3 table-bordered"
               @filtered="onFiltered"
      >
        <template slot="promotion" slot-scope="row">
          <toggle-button :value="row.item.promotion"
                         name="locking"
                         :labels="{checked: '프로모션', unchecked: '정상가'}"
                         :color="{checked: '#7DCE94', unchecked: '#82C7EB'}"
                         :width="80"
                         class="m-0"
                         :height="29"/>

        </template>
        <template slot="actions" slot-scope="row">
          <b-btn variant="info" size="sm" @click.stop="row.toggleDetails">
            상세 {{ row.detailsShowing ? '감추기' : '보기' }}
          </b-btn>
        </template>
        <template slot="row-details" slot-scope="row">
          <b-card class="no-shadow">
            <form class="">
              <div class="position-relative row form-group"><label for="service"
                                                                   class="col-sm-2 col-form-label text-right font-weight-bold">서비스</label>
                <div class="col-sm-10"><input name="service"
                                              id="service" placeholder=""
                                              type="text" class="form-control"
                                              :value="row.item.actions.service">
                </div>
              </div>
              <div class="position-relative row form-group"><label for="price"
                                                                   class="col-sm-2 col-form-label text-right font-weight-bold">가격</label>
                <div class="col-sm-10"><input name="price"
                                              id="price" placeholder=""
                                              type="text" class="form-control"
                                              :value="row.item.actions.price">
                </div>
              </div>
              <div class="position-relative row form-group"><label for="explanation"
                                                                   class="col-sm-2 col-form-label text-right font-weight-bold">설명</label>
                <div class="col-sm-10"><input name="explanation"
                                              id="explanation" placeholder=""
                                              type="text" class="form-control"
                                              :value="row.item.actions.explanation">
                </div>
              </div>
              <div class="position-relative row form-group"><label for="object"
                                                                   class="col-sm-2 col-form-label text-right font-weight-bold">대상</label>
                <div class="col-sm-10"><input name="object"
                                              id="object" placeholder=""
                                              type="text" class="form-control"
                                              :value="row.item.actions.object">
                </div>
              </div>
              <div class="position-relative row form-group"><label for="limit"
                                                                   class="col-sm-2 col-form-label text-right font-weight-bold">제한</label>
                <div class="col-sm-10"><input name="limit"
                                              id="limit" placeholder=""
                                              type="text" class="form-control"
                                              :value="row.item.actions.limit">
                </div>
              </div>
              <div class="d-block text-center">
                <button class="btn-icon btn btn-success" onclick="alert('준비중 입니다.')"><i
                  class="pe-7s-diskette btn-icon-wrapper"> </i> 저장
                </button>
              </div>
            </form>
          </b-card>
        </template>
      </b-table>
      <b-row>
        <b-col md="6" class="my-1">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0"/>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<style>
  .b-table-has-details {
    background-color: aliceblue;
  }

  .b-table-details {
    background-color: aliceblue;
  }

  .text-center {
    vertical-align: middle !important;
  }

  .col-content {
    vertical-align: -webkit-baseline-middle;
  }

</style>
<script>

  import PageTitle from "../../../Layout/Components/NoneCreatePageTitle.vue";
  import {ToggleButton} from 'vue-js-toggle-button'

  const items = [
    {
      service: '안전 잠금 신청',
      price: '0원',
      promotion: true,
      actions: {
        service: '안전 잠금 신청',
        price: '0원',
        explanation: '도메인의 불법적인 정보변경을 막기 위한 안전관리 서비스로, 안전 담금 서비스를 신청하시면 주요 정보(아이디, 비밀번호 등)의 불법 유출을 막을 수 있습니다.\n 또한 실제 도메인 운영에 영향을 주는 주요 정보 변경 시 소유자 확인 정차를 거쳐 안정하게 이용할 수있습니다.',
        object: '소유권 이전, 기관이전, 네임서버 변경, 소유자 정보변경, 호스트 관리, 등록취소',
        limit: '없음'
      }
    },
    {
      service: '등록정보 숨김 설정',
      price: '3,000원',
      promotion: false,
      actions: {
        service: '등록정보 숨김 설정',
        price: '3,000원',
        explanation: '도메인 등록 정보는 인터넷상에서 열람할 수 있는 정보이며, 스팸 및 정보 도용 등의 위험에 노출되어 있습니다.\n 등록 정보 숨김 서비스는 조메인 등록 정보를 가비아의 관리 정보로 대체하여 각종 정보 도용에서 보호할 수 있습니다.',
        object: '숨김 정보: 등록인명, 등록인 주소, 책임자/관리자 명, 책임자/관리자 이메일, 책임자/관리자 전화번호',
        limit: '.com / .net / .cc / .tv / .닷컴 / .닷넷 / KR 도메인'
      }
    },
    {
      service: '도메인 기관 이전',
      price: '20,000원',
      promotion: false,
      actions: {
        service: '도메인 기관 이전',
        price: '20,000원',
        explanation: '',
        object: '',
        limit: '없음'
      }
    },
    {
      service: '간편 연장 서비스',
      price: '0원',
      promotion: true,
      actions: {
        service: '간편 연장 서비스',
        price: '0원',
        explanation: '별도의 연장 신청 절차 없이, 입금만 하면 바로 연장이 되는 편리한 서비스입니다. \n 만기일 15일 전에 블루웹에서 자동으로 연장 계좌를 발급해 고객께 메일로 발송해 드립니다. \n 고객은 메일 수신 후, 해당 계좌로 연장 금액만 입금하시면 연장 처리가 완료됩니다. ',
        object: '신청고객 도메인',
        limit: 'TLD는 gTLD(.mobi 제외) / KR / 한국으로 이 외 TLD는 간편 연장 서비스를 이용할 수 없습니다.'
      }
    },
    {
      service: '알람 문자 서비스',
      price: '200원',
      promotion: false,
      actions: {
        service: '알람 서비스',
        price: '200원',
        explanation: '만기일 60일, 30일, 15일, 10일, 3일 전에 선택한 날짜에 문자, 카톡 알람해주는 서비스 입니다.',
        object: '신청고객 도메인',
        limit: '없음'
      }
    }
  ]

  export default {
    components: {
      PageTitle,
      ToggleButton
    },
    data: () => ({
      heading: '도메인 부가 서비스 상품관리',
      subheading: '도메인 부가서비스 상품을 관리할 수 있는 페이지 입니다.',
      icon: 'pe-7s-plus icon-gradient bg-mixed-hopes',

      items: items,
      fields: [
        {key: 'service', label: '서비스', sortable: true, 'class': 'text-center'},
        {key: 'price', label: '가격', sortable: true, 'class': 'text-center'},
        {key: 'promotion', label: '프로모션', sortable: false, 'class': 'text-center'},
        {key: 'actions', label: '비고', sortable: false, 'class': 'text-center'}
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: items.length,
      pageOptions: [5, 10, 15],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      modalInfo: {title: '', content: ''}
    }),

    computed: {
      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    methods: {
      info(item, index, button) {
        this.modalInfo.title = `Row index: ${index}`
        this.modalInfo.content = JSON.stringify(item, null, 2)
        this.$root.$emit('bv::show::modal', 'modalInfo', button)
      },
      resetModal() {
        this.modalInfo.title = ''
        this.modalInfo.content = ''
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    }
  }
</script>
