<template>
  <div :class="sidebarbg" class="app-sidebar sidebar-shadow"
       @mouseover="toggleSidebarHover('add','closed-sidebar-open')"
       @mouseleave="toggleSidebarHover('remove','closed-sidebar-open')">
    <div class="app-header__logo">
      <div class="logo-src"/>
      <div class="header__pane ml-auto">
        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                v-bind:class="{ 'is-active' : isOpen }" @click="toggleBodyClass('closed-sidebar')">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
        </button>
      </div>
    </div>
    <div class="app-sidebar-content">
      <VuePerfectScrollbar class="app-sidebar-scroll" v-once>
        <sidebar-menu :menu="menu"/>
      </VuePerfectScrollbar>
    </div>

  </div>
</template>

<script>
  import {SidebarMenu} from 'vue-sidebar-menu'
  import VuePerfectScrollbar from 'vue-perfect-scrollbar'

  export default {
    components: {
      SidebarMenu,
      VuePerfectScrollbar
    },
    data() {
      return {
        isOpen: false,
        sidebarActive: false,

        menu: [
          {
            header: true,
            title: '서비스 관리'
          },
          {
            title: '1:1 문의',
            icon: 'pe-7s-light',
            href: '/domain/domain/order',
          },
          {
            title: '도메인',
            icon: 'pe-7s-global',
            child: [
              {
                href: '/domain/domain/order',
                title: '도메인 관리'
              },
              {
                href: '/domain/domain/product',
                title: '웹DNS 관리'
              },
            ]
          },
          {
            title: 'SSL',
            icon: 'pe-7s-key',
            href: '/domain/domain/product'
          },
          {
            title: '웹호스팅',
            icon: 'pe-7s-browser',
            href: '/hosting/web/order',
          },
          {
            title: '워드프레스/QUV/쿠킹엠',
            icon: 'pe-7s-browser',
            href: '/hosting/web/order',
          },
          {
            title: '서버호스팅',
            icon: 'pe-7s-server',
            href: '/hosting/server/order',
          },
          {
            title: '코로케이션',
            icon: 'pe-7s-network',
            child: [
              {
                href: '/hosting/colocation/order',
                title: '주문관리'
              },
              {
                href: '/hosting/colocation/unit',
                title: '유닛형 상품관리'
              },
              {
                href: '/hosting/colocation/div',
                title: '구분형 상품관리'
              }
            ]
          },
          {
            title: '솔루션',
            icon: 'pe-7s-network',
            child: [
              {
                href: '/hosting/colocation/order',
                title: '오피스365메일/웹메일'
              },
              {
                href: '/hosting/colocation/order',
                title: 'SMS'
              },
              {
                href: '/hosting/colocation/unit',
                title: '코참비즈'
              },
              {
                href: '/hosting/colocation/div',
                title: '이비즈로'
              }
            ]
          },
          {
            title: '부가서비스 관리',
            icon: 'pe-7s-plus',
            child: [
              {
                href: '/hosting/add/order',
                title: '본인확인 서비스'
              },
              {
                href: '/hosting/add/product',
                title: '아이핀'
              },
              {
                href: '/hosting/add/product',
                title: 'PG/결제'
              },
              {
                href: '/hosting/add/product',
                title: '아크로니스 백업'
              }
            ]
          },
          {
            title: '블루웹 관리 서비스',
            icon: 'pe-7s-rocket',
            child: [
              {
                href: '/hosting/add/order',
                title: '관리 서비스 내역'
              },
              {
                href: '/hosting/add/product',
                title: '내부 서비스 내역'
              },
            ]
          },
          {
            header: true,
            title: '매출관리',
            icon: 'pe-7s-global',
            href: '/domain/domain/order',
          },
          {
            title: '주문/결제',
            icon: 'pe-7s-graph2',
            child: [
              {
                href: '/domain/domain/order',
                title: '대시보드'
              },
              {
                href: '/domain/domain/product',
                title: '상품신청 내역'
              },
              {
                href: '/domain/domain/product',
                title: '결제/입금 내역'
              },
              {
                href: '/domain/domain/product',
                title: '상품변경요청 내역'
              },
              {
                href: '/domain/domain/product',
                title: '만료/만료예정 내역'
              },
              {
                href: '/domain/domain/product',
                title: '세금계산서 발행요청'
              },
              {
                href: '/domain/domain/product',
                title: '현금영수증 발행요청'
              },
            ]
          },
          {
            title: '정산/회계',
            icon: 'pe-7s-display2',
            child: [
              {
                href: '/domain/domain/order',
                title: '대시보드'
              },
            ]
          },
          {
            header: true,
            title: '마케팅'
          },
          {
            title: '회원 관리',
            icon: 'pe-7s-users',
            child: [
              {
                href: '/member/member',
                title: '대시보드'
              },
              {
                href: '/member/member',
                title: '회원관리'
              },
              {
                href: '/member/grade',
                title: '등급관리'
              },
              {
                href: '/member/grade',
                title: '결제수단/카드정보'
              },
              {
                href: '/member/grade',
                title: '장바구니/관심상품'
              }
            ]
          },
          {
            title: '이벤트/쿠폰',
            icon: 'pe-7s-plugin',
            child: [
              {
                href: '/member/member',
                title: '이벤트 관리'
              },
              {
                href: '/member/member',
                title: '프로모션 관리'
              },
              {
                href: '/member/member',
                title: '쿠폰 관리'
              },
            ]
          },
          {
            header: true,
            title: '통합상품'
          },
          {
            title: '상품 관리',
            icon: 'pe-7s-plugin',
            child: [
              {
                href: '/member/member',
                title: '상품 카테고리 관리'
              },
              {
                href: '/member/member',
                title: '도메인 상품 관리'
              },
              {
                href: '/member/member',
                title: '웹호스팅 상품 관리'
              },
              {
                href: '/member/member',
                title: '서버호스팅 상품 관리'
              },
              {
                href: '/member/member',
                title: '코로케이션 상품 관리'
              },
              {
                href: '/member/member',
                title: '매니지먼트 상품 관리'
              },
              {
                href: '/member/member',
                title: '보안관제 상품 관리'
              },
            ]
          },
          {
            header: true,
            title: '블루웹 홈페이지'
          },
          {
            title: '홈페이지 관리',
            icon: 'pe-7s-users',
            child: [
              {
                href: '/member/member',
                title: '공지사항 관리'
              },
              {
                href: '/member/member',
                title: '배너 관리'
              },
              {
                href: '/member/member',
                title: '사이트맵 관리'
              },
              {
                href: '/member/member',
                title: 'FAQ 관리'
              },
              {
                href: '/member/member',
                title: '회사소개 관리'
              },
              {
                href: '/member/member',
                title: '약관/개인정보취급방침'
              },
              {
                href: '/member/member',
                title: '담당자연락처 관리'
              },
              {
                href: '/member/member',
                title: '사용매뉴얼 관리'
              },
            ]
          },
          {
            header: true,
            title: '업무시스템 관리'
          },
          {
            title: '관리자 관리',
            icon: 'pe-7s-id',
            child: [
              {
                href: '/member/member',
                title: '관리자 관리'
              },
              {
                href: '/member/member',
                title: '메뉴권한 관리'
              }
            ]
          },
          {
            title: '코드 관리',
            icon: 'pe-7s-joy',
            href: '/member/member',
          },
        ],
        collapsed: true,

        windowWidth: 0,

      }
    },
    props: {
      sidebarbg: String,

    },
    methods: {

      toggleBodyClass(className) {
        const el = document.body;
        this.isOpen = !this.isOpen;

        if (this.isOpen) {
          el.classList.add(className);
        } else {
          el.classList.remove(className);
        }
      },
      toggleSidebarHover(add, className) {
        const el = document.body;
        this.sidebarActive = !this.sidebarActive;

        this.windowWidth = document.documentElement.clientWidth;

        if (this.windowWidth > '992') {
          if (add == 'add') {
            el.classList.add(className);
          } else {
            el.classList.remove(className);
          }
        }
      },
      getWindowWidth() {
        const el = document.body;

        this.windowWidth = document.documentElement.clientWidth;

        if (this.windowWidth < '1350') {
          el.classList.add('closed-sidebar', 'closed-sidebar-md');
        } else {
          el.classList.remove('closed-sidebar', 'closed-sidebar-md');
        }
      },
    },
    mounted() {
      this.$nextTick(function () {
        window.addEventListener('resize', this.getWindowWidth);

        //Init
        this.getWindowWidth()
      })
    },

    beforeDestroy() {
      window.removeEventListener('resize', this.getWindowWidth);
    }
  }
</script>
