<template>
  <div>
    <page-title :heading=heading :subheading=subheading :icon=icon></page-title>
    <b-card title="회원목록" class="main-card mb-4">
      <b-row>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="페이지 당" class="mb-0 text-right">
            <b-form-select :options="pageOptions" v-model="perPage" />
          </b-form-group>
        </b-col>
        <b-col md="6" class="my-1">
          <b-form-group horizontal label="검색" class="mb-0 text-right">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="검색하려면 입력하십시오." />
              <b-input-group-append>
                <b-btn :disabled="!filter" @click="filter = ''">검색어 삭제</b-btn>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>

      <!-- Main table element -->
      <b-table show-empty
               stacked="md"
               :items="items"
               :fields="fields"
               :current-page="currentPage"
               :per-page="perPage"
               :filter="filter"
               :sort-by.sync="sortBy"
               :sort-desc.sync="sortDesc"
               :sort-direction="sortDirection"
               class="mt-3 table-bordered"
               @filtered="onFiltered"
      >
        <template slot="isActive" slot-scope="row">{{row.value?'정상':'탈퇴'}}</template>
        <template slot="actions" slot-scope="row">
          <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
          <b-button variant="info" size="sm" @click.stop="row.toggleDetails">
            상세 {{ row.detailsShowing ? '감추기' : '보기' }}
          </b-button>
        </template>
        <template slot="row-details" slot-scope="row">
          <b-card class="no-shadow">
            <ul class="list-group">
              <li class="list-group-item" v-for="(value, key) in row.item" :key="key">{{value}}</li>
            </ul>
          </b-card>
        </template>
      </b-table>

      <b-row>
        <b-col md="6" class="my-1">
          <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>

  import PageTitle from "../../Layout/Components/NoneCreatePageTitle.vue";
  const items = [
      { isActive: true, id: 'test1@naver.com', name:'테스트', phone:'-', cphone:'010-2222-2222', email: 'test_sub1.@gmail.com', paths:'블루웹'},
      { isActive: true, id: 'test3@naver.com', name:'테스트얌', phone:'02-2222-2222', cphone:'010-4444-8888', email: 'test_sub2.@gmail.com', paths:'네이버'},
      { isActive: true, id: 'test2@naver.com', name:'테스트22', phone:'-', cphone:'010-2333-6666', email: 'test_sub3.@gmail.com', paths:'카카오'},
      { isActive: true, id: 'test2@naver.com', name:'테스트23', phone:'-', cphone:'010-2333-6666', email: 'test_sub3.@gmail.com', paths:'카카오'},
      { isActive: true, id: 'test2@naver.com', name:'테스트24', phone:'-', cphone:'010-2333-6666', email: 'test_sub3.@gmail.com', paths:'카카오'},
      { isActive: true, id: 'test2@naver.com', name:'테스트25', phone:'-', cphone:'010-2333-6666', email: 'test_sub3.@gmail.com', paths:'카카오'},
      { isActive: true, id: 'test2@naver.com', name:'테스트26', phone:'-', cphone:'010-2333-6666', email: 'test_sub3.@gmail.com', paths:'카카오'},
      { isActive: true, id: 'test2@naver.com', name:'테스트27', phone:'-', cphone:'010-2333-6666', email: 'test_sub3.@gmail.com', paths:'카카오'},
      { isActive: true, id: 'test2@naver.com', name:'테스트28', phone:'-', cphone:'010-2333-6666', email: 'test_sub3.@gmail.com', paths:'카카오'},
      { isActive: true, id: 'test2@naver.com', name:'테스트29', phone:'-', cphone:'010-2333-6666', email: 'test_sub3.@gmail.com', paths:'카카오'}
  ]

  export default {
    components: {
      PageTitle,
    },
    data: () => ({
      heading: '회원관리',
      subheading: '블루웹 회원을 관리할 수 있는 페이지 입니다.',
      icon: 'pe-7s-users icon-gradient bg-mixed-hopes',

      items: items,
      fields: [
        { key: 'id', label: '아이디/이메일', sortable: true, 'class': 'text-center' },
        { key: 'name', label: '이름/회사명', sortable: true, 'class': 'text-center'},
        { key: 'phone', label: '전화번호', sortable: true, 'class': 'text-center' },
        { key: 'cphone', label: '휴대전화번호', sortable: true, 'class': 'text-center' },
        { key: 'email', label: '이메일', sortable: true, 'class': 'text-center' },
        { key: 'paths', label: '가입경로', sortable: true, 'class': 'text-center' },
        { key: 'isActive', label: '상태', sortable: true, 'class': 'text-center' },
        { key: 'actions', label: '비고', sortable: false, 'class': 'text-center' }
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: items.length,
      pageOptions: [ 5, 10, 15 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      modalInfo: { title: '', content: '' }
    }),

    computed: {
      sortOptions () {
        // Create an options list from our fields
        return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
      }
    },
    methods: {
      info (item, index, button) {
        this.modalInfo.title = `Row index: ${index}`
        this.modalInfo.content = JSON.stringify(item, null, 2)
        this.$root.$emit('bv::show::modal', 'modalInfo', button)
      },
      resetModal () {
        this.modalInfo.title = ''
        this.modalInfo.content = ''
      },
      onFiltered (filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    }
  }
</script>
